altair==4.2.2
appdirs==1.4.4
bcrypt==4.0.1
beautifulsoup4==4.12.2
blinker==1.6.2
brotlipy==0.7.0
cachetools==5.3.0
capstone==5.0.0rc2
colored-traceback==0.3.0
fonttools==4.25.0
gitdb==4.0.10
GitPython==3.1.31
gmpy2==2.1.5
greenlet==2.0.1
intervaltree==3.1.0
jupyterthemes==0.20.0
Mako==1.2.4
markdown-it-py==2.2.0
mdurl==0.1.2
mkl-service==2.4.0
msgpack==1.0.4
munkres==1.1.4
mysql-connector-python==8.0.33
nbconvert==5.5.0
numpy==1.23.5
pandas==1.5.1
paramiko==3.0.0
Pillow==9.4.0
plumbum==1.8.1
ply==3.11
protobuf==3.20.3
psutil==5.9.4
pwntools==4.9.0
pyarrow==11.0.0
pycryptodome==3.17
pydeck==0.8.0
pyelftools==0.29
Pygments==2.15.0
Pympler==1.0.1
PyNaCl==1.5.0
pynvim==0.4.3
PyQt5==5.15.7
PyQt5-sip==12.11.0
pyserial==3.5
python-lsp-jsonrpc==1.0.0
pytz-deprecation-shim==0.1.0.post0
rich==13.3.4
ROPGadget==7.2
rpyc==5.3.0
scikit-learn==1.2.2
scipy==1.10.1
smmap==5.0.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==2.0.12
streamlit==1.21.0
threadpoolctl==3.1.0
toolz==0.12.0
tzdata==2023.3
tzlocal==4.3
unicorn==2.0.1.post1
validators==0.20.0
watchdog==3.0.0
webencodings==0.5.1
